*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("./assets/bg.png");
}

.score{
    color: white;
    text-align: center;
    font-size: 100px;
}

.playerbox2{
    height: 350px;
    width: 350px;
    border: 2px solid #ffc434;
    position: relative;
}

.playerbox1{
    display: flex;
    justify-content: space-evenly;
}

p{
    color: white;
    font-size: 25px;
    text-align: center;
}

.vs{
    height: 500px;
}

.image{
    height: 80px;
    width: 80px;
    
}
.logo{
    position: absolute;
    left: 20px;
    top: 250px;
    
}
.logo img{
    padding: 10px;
}

.playbutton{
    height: 30px;
    width: 140px;
    position: relative;
    left: 90px;
    background-color:  #ffc434; 
    border-radius: 5px; 
    align-items: center;
    margin-left: 600px;
}
.replay{
    visibility: hidden;
}

.result{
    margin-bottom: 20px;
}
.humanhand2{
    height: 350px;
    width: 350px;
    border: 2px solid #ffc434;
    position: relative; 
}
