*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("./assets/bg.png");
}

.heading{
    color: rgb(90, 37, 192);
    text-align: center;
    font-size: 50px;
}

.image {
    height: 450px;
    width: 450px;
    margin-left: 250px;
    margin-top: 60px;
}

#play{
    color: white;
    position: relative;
    left: 1000px;
    margin-top: 5px;
    margin-left:20px ;
    font-size: larger;
}

#button{
    height: 30px;
    width: 30px;
    position: relative;
    left: 1000px;
    
}

#playbutton{
    display: flex;
    position: relative;
    right: 100px;
    bottom: 50px;
}
